# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

In [2]:
resposta="sim"

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [3]:
lista1=["Pedro",8,"Isabela",5,"Joao",20,"Maria",40]

In [4]:
print(lista1[1])

8

In [5]:
len(lista1)

8

In [8]:
lista1[1]=10

In [11]:
print(lista1[1])

10

In [12]:
print(lista1[2:])

['Isabela', 5, 'Joao', 20, 'Maria', 40]

In [17]:
len(lista1)

8

In [18]:
lista1.remove("Maria")

In [19]:
print(lista1[0:])

['Pedro', 10, 'Isabela', 5, 'Joao', 20, 40]

In [20]:
salarios=[900,1200,1500,800,12587,10000]

In [22]:
salarios.index(10000)

5

In [23]:
min(salarios)

800

In [24]:
max(salarios)

12587

In [25]:
salarios.append(7000)

In [26]:
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [27]:
salarios=salarios + [1600,8000]

In [28]:
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 7000, 1600, 8000]

In [29]:
salarios.index(800)

3

In [30]:
salarios.sort()

In [31]:
print(salarios)

[800, 900, 1200, 1500, 1600, 7000, 8000, 10000, 12587]

In [35]:
salarios.sort(reverse=True)

In [36]:
print(salarios)

[12587, 10000, 8000, 7000, 1600, 1500, 1200, 900, 800]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [37]:
pessoas={'Rodrigo':30,'Fulana':18}

In [38]:
pessoas['Fulana']

18

In [39]:
pessoas

{'Rodrigo': 30, 'Fulana': 18}

In [40]:
pessoas.values()

dict_values([30, 18])

In [42]:
pessoas.setdefault('Felipe',30)

30

In [43]:
print(pessoas)

{'Rodrigo': 30, 'Fulana': 18, 'Felipe': 30}

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [45]:
if 5>1:
   print('O numero 5 é maior que 1')

O numero 5 é maior que 1

In [46]:
x1=10

In [47]:
y1=8

In [50]:
x1=10
y1=8
if x1 > y1:
   print('x1 é maior que y1')
else:
   print('y1 é maior que x1')

x1 é maior que y1

In [51]:
for i in [2,3,4,5,6,7]:
  print(i*2)

4
6
8
10
12
14