# Installing and exploring with Pyspark

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\marcf\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\marcf\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

WARNING: Ignoring invalid distribution -pencv-python (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\marcf\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\marcf\anaconda3\lib\site-packages)

In [3]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
import os

In [4]:
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'

In [5]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\Master_Data_Analysis_with_Python_by_Ted_Petrou_20221019\Jupyter Notebooks\data\airbnb.csv")

In [8]:
df_pyspark.show()

+-----+--------------------+---------------+------------+--------+-----+----------------+------------+------+---------+------------------+---------------+----------+-----------+-----------+--------+---------+--------------+--------------+
|  _c0|                 _c1|            _c2|         _c3|     _c4|  _c5|             _c6|         _c7|   _c8|      _c9|              _c10|           _c11|      _c12|       _c13|       _c14|    _c15|     _c16|          _c17|          _c18|
+-----+--------------------+---------------+------------+--------+-----+----------------+------------+------+---------+------------------+---------------+----------+-----------+-----------+--------+---------+--------------+--------------+
|   id|        neighborhood|      room_type|accommodates|bedrooms|price|security_deposit|cleaning_fee|rating|superhost|     response_time|acceptance_rate|host_since|last_review|num_reviews|latitude|longitude|minimum_nights|maximum_nights|
| 3686|  Historic Anacostia|   Private room|           1|     1.0|   55|              25|          25|   4.6|        0|a few days or more|            67%|2008-11-26| 2021-08-09|         76|38.86339|-76.98889|             2|           365|
| 3943|            Edgewood|   Private room|           2|     1.0|   71|              50|           0|  4.81|        0|              null|           null|2008-12-12| 2021-09-11|        434|38.91195|-77.00456|             2|          1125|
| 4529|    Eastland Gardens|   Private room|           4|     1.0|   54|              25|          50|  4.66|        0|within a few hours|           null|2008-12-30| 2019-07-05|        102|38.90585|-76.94469|            30|           180|
| 4967|            Edgewood|   Private room|           1|     1.0|   99|              50|           0|  4.74|        1|    within an hour|            85%|2009-01-26| 2016-09-22|         31|38.91409|-76.99368|             2|           365|
| 5589|    Kalorama Heights|Entire home/apt|           3|     1.0|   99|              50|           0|  4.54|        0|within a few hours|            11%|2009-01-13| 2020-03-05|         95|38.91887|-77.04008|             5|            24|
| 7103|       Spring Valley|Entire home/apt|           2|     1.0|   68|               0|          25|   4.8|        0|    within an hour|            96%|2009-05-18| 2021-08-28|         91|38.91988|-77.09796|             6|           200|
| 9097|    Kalorama Heights|   Private room|           1|     1.0|   42|              50|          25|  4.86|        0|within a few hours|            11%|2009-01-13| 2019-10-30|        112|38.91966|-77.04306|             2|             7|
| 9641|       Dupont Circle|Entire home/apt|           4|     1.0|  195|             100|         100|  4.75|        0|      within a day|            34%|2009-08-17| 2021-09-07|        156|38.90927|-77.03471|             2|           180|
|11785|   Cathedral Heights|Entire home/apt|           4|     1.0|  125|             100|         100|  4.59|        0|              null|           null|2009-08-16| 2021-08-01|        403|38.92622|-77.07591|             1|           365|
|12442|   Cathedral Heights|   Private room|           2|     1.0|   60|              50|          25|  4.68|        0|              null|           null|2009-08-16| 2021-06-13|        100|38.92744|-77.07496|             1|           365|
|13744|    Columbia Heights|Entire home/apt|           4|     1.0|  125|             100|         100|  4.89|        0|within a few hours|            50%|2009-11-13| 2021-08-25|         28|38.92836|-77.03136|             4|            14|
|14218|   Cathedral Heights|   Private room|           2|     1.0|   61|              25|          25|  4.66|        0|              null|           null|2009-08-16| 2021-08-01|         95|38.92668|-77.07686|             1|           365|
|14570|                Shaw|   Private room|           3|     1.0|   90|               0|          50|  4.86|        1|              null|           null|2009-11-22| 2019-07-29|        554|38.90595|-77.02564|             3|            30|
|16684|       Union Station|Entire home/apt|           2|     1.0|   95|               0|          25|  4.91|        1|    within an hour|           100%|2009-12-21| 2021-05-22|        174|38.89866|-77.00179|            14|           365|
|17131|   Cathedral Heights|   Private room|           2|     1.0|   60|               0|          25|  4.58|        0|              null|           null|2009-08-16| 2021-06-20|         85|38.92644|-77.07646|             1|           365|
|22453|       Dupont Circle|    Shared room|           1|     1.0|   90|              25|           0|   4.8|        0|      within a day|            34%|2009-08-17| 2021-07-14|        102|38.90933|-77.03484|             2|             4|
|24712|     Brightwood Park|Entire home/apt|          16|     4.0|  225|              50|          50|  4.24|        0|    within an hour|           100%|2010-03-29| 2021-09-08|        132|38.94771|-77.02368|             4|            90|
|25243|Southwest Employm...|Entire home/apt|           8|     3.0|  379|              50|         100|  4.62|        0|              null|           null|2010-04-06| 2021-06-14|         26|38.88107|-77.01891|             1|            90|
|32087|    Kalorama Heights|   Private room|           2|     1.0|  148|               0|           0|  4.85|        0|    within an hour|            98%|2010-06-04| 2020-03-04|         15|38.91766|-77.04598|             1|           365|
+-----+--------------------+---------------+------------+--------+-----+----------------+------------+------+---------+------------------+---------------+----------+-----------+-----------+--------+---------+--------------+--------------+
only showing top 20 rows

In [11]:
df_pyspark = spark.read.option('header', 'true').csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\Master_Data_Analysis_with_Python_by_Ted_Petrou_20221019\Jupyter Notebooks\data\airbnb.csv")

DataFrame[id: string, neighborhood: string, room_type: string, accommodates: string, bedrooms: string, price: string, security_deposit: string, cleaning_fee: string, rating: string, superhost: string, response_time: string, acceptance_rate: string, host_since: string, last_review: string, num_reviews: string, latitude: string, longitude: string, minimum_nights: string, maximum_nights: string]

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.head(3)

[Row(_c0='id', _c1='neighborhood', _c2='room_type', _c3='accommodates', _c4='bedrooms', _c5='price', _c6='security_deposit', _c7='cleaning_fee', _c8='rating', _c9='superhost', _c10='response_time', _c11='acceptance_rate', _c12='host_since', _c13='last_review', _c14='num_reviews', _c15='latitude', _c16='longitude', _c17='minimum_nights', _c18='maximum_nights'),
 Row(_c0='3686', _c1='Historic Anacostia', _c2='Private room', _c3='1', _c4='1.0', _c5='55', _c6='25', _c7='25', _c8='4.6', _c9='0', _c10='a few days or more', _c11='67%', _c12='2008-11-26', _c13='2021-08-09', _c14='76', _c15='38.86339', _c16='-76.98889', _c17='2', _c18='365'),
 Row(_c0='3943', _c1='Edgewood', _c2='Private room', _c3='2', _c4='1.0', _c5='71', _c6='50', _c7='0', _c8='4.81', _c9='0', _c10=None, _c11=None, _c12='2008-12-12', _c13='2021-09-11', _c14='434', _c15='38.91195', _c16='-77.00456', _c17='2', _c18='1125')]

In [14]:
df_pyspark.printSchema

<bound method DataFrame.printSchema of DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string]>

# Second Part
- Pyspark Data frame
- Reading the Dataset
- CHecking the Datatypes of the Column(Schema)
- Selecting Columns and indexing
- Check Describe option similar do Pandas
- Adding columns
- Dropping columns
- Rename Columns

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [5]:
## Reading the dataset
spark.read.option('headr', 'true').csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\Master_Data_Analysis_with_Python_by_Ted_Petrou_20221019\Jupyter Notebooks\data\olympics\2020.csv").show()

+----+--------------------+----+------+------+-----+
| _c0|                 _c1| _c2|   _c3|   _c4|  _c5|
+----+--------------------+----+------+------+-----+
|Rank|                Team|Gold|Silver|Bronze|Total|
|   1| United States (USA)|  39|    41|    33|  113|
|   2|         China (CHN)|  38|    32|    18|   88|
|   3|         Japan (JPN)|  27|    14|    17|   58|
|   4| Great Britain (GBR)|  22|    21|    22|   65|
|   5|           ROC (ROC)|  20|    28|    23|   71|
|   6|     Australia (AUS)|  17|     7|    22|   46|
|   7|   Netherlands (NED)|  10|    12|    14|   36|
|   8|        France (FRA)|  10|    12|    11|   33|
|   9|       Germany (GER)|  10|    11|    16|   37|
|  10|         Italy (ITA)|  10|    10|    20|   40|
|  11|        Canada (CAN)|   7|     6|    11|   24|
|  12|        Brazil (BRA)|   7|     6|     8|   21|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|
|  14|          Cuba (CUB)|   7|     3|     5|   15|
|  15|       Hungary (HUN)|   6|     7|     7|   20|
|  16|   South Korea (KOR)|   6|     4|    10|   20|
|  17|        Poland (POL)|   4|     5|     5|   14|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|
|  19|         Kenya (KEN)|   4|     4|     2|   10|
+----+--------------------+----+------+------+-----+
only showing top 20 rows

In [8]:
df_pyspark_olimpics = spark.read.option('headr', 'true').csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\Master_Data_Analysis_with_Python_by_Ted_Petrou_20221019\Jupyter Notebooks\data\olympics\2020.csv")

In [9]:
### Check the schema
df_pyspark_olimpics.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [10]:
spark.read.option('headr', 'true').csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\Master_Data_Analysis_with_Python_by_Ted_Petrou_20221019\Jupyter Notebooks\data\olympics\2020.csv",inferSchema=True)

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [11]:
df_pyspark_olimpics.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [12]:
df_pyspark_olimpics = spark.read.csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\Master_Data_Analysis_with_Python_by_Ted_Petrou_20221019\Jupyter Notebooks\data\olympics\2020.csv",header=True,inferSchema=True)

In [13]:
df_pyspark_olimpics.show()

+----+--------------------+----+------+------+-----+
|Rank|                Team|Gold|Silver|Bronze|Total|
+----+--------------------+----+------+------+-----+
|   1| United States (USA)|  39|    41|    33|  113|
|   2|         China (CHN)|  38|    32|    18|   88|
|   3|         Japan (JPN)|  27|    14|    17|   58|
|   4| Great Britain (GBR)|  22|    21|    22|   65|
|   5|           ROC (ROC)|  20|    28|    23|   71|
|   6|     Australia (AUS)|  17|     7|    22|   46|
|   7|   Netherlands (NED)|  10|    12|    14|   36|
|   8|        France (FRA)|  10|    12|    11|   33|
|   9|       Germany (GER)|  10|    11|    16|   37|
|  10|         Italy (ITA)|  10|    10|    20|   40|
|  11|        Canada (CAN)|   7|     6|    11|   24|
|  12|        Brazil (BRA)|   7|     6|     8|   21|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|
|  14|          Cuba (CUB)|   7|     3|     5|   15|
|  15|       Hungary (HUN)|   6|     7|     7|   20|
|  16|   South Korea (KOR)|   6|     4|    10|   20|
|  17|        Poland (POL)|   4|     5|     5|   14|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|
|  19|         Kenya (KEN)|   4|     4|     2|   10|
|  20|        Norway (NOR)|   4|     2|     2|    8|
+----+--------------------+----+------+------+-----+
only showing top 20 rows

In [14]:
### Check the schema
df_pyspark_olimpics.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [15]:
type(df_pyspark_olimpics)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark_olimpics.columns

['Rank', 'Team', 'Gold', 'Silver', 'Bronze', 'Total']

In [17]:
df_pyspark_olimpics.head(3)

[Row(Rank=1, Team='United States (USA)', Gold=39, Silver=41, Bronze=33, Total=113),
 Row(Rank=2, Team='China (CHN)', Gold=38, Silver=32, Bronze=18, Total=88),
 Row(Rank=3, Team='Japan (JPN)', Gold=27, Silver=14, Bronze=17, Total=58)]

In [18]:
df_pyspark_olimpics.show()

+----+--------------------+----+------+------+-----+
|Rank|                Team|Gold|Silver|Bronze|Total|
+----+--------------------+----+------+------+-----+
|   1| United States (USA)|  39|    41|    33|  113|
|   2|         China (CHN)|  38|    32|    18|   88|
|   3|         Japan (JPN)|  27|    14|    17|   58|
|   4| Great Britain (GBR)|  22|    21|    22|   65|
|   5|           ROC (ROC)|  20|    28|    23|   71|
|   6|     Australia (AUS)|  17|     7|    22|   46|
|   7|   Netherlands (NED)|  10|    12|    14|   36|
|   8|        France (FRA)|  10|    12|    11|   33|
|   9|       Germany (GER)|  10|    11|    16|   37|
|  10|         Italy (ITA)|  10|    10|    20|   40|
|  11|        Canada (CAN)|   7|     6|    11|   24|
|  12|        Brazil (BRA)|   7|     6|     8|   21|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|
|  14|          Cuba (CUB)|   7|     3|     5|   15|
|  15|       Hungary (HUN)|   6|     7|     7|   20|
|  16|   South Korea (KOR)|   6|     4|    10|   20|
|  17|        Poland (POL)|   4|     5|     5|   14|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|
|  19|         Kenya (KEN)|   4|     4|     2|   10|
|  20|        Norway (NOR)|   4|     2|     2|    8|
+----+--------------------+----+------+------+-----+
only showing top 20 rows

In [19]:
df_pyspark_olimpics.select(['Team','Gold'])

DataFrame[Team: string, Gold: int]

In [21]:
df_pyspark_olimpics.select(['Team','Gold']).show()

+--------------------+----+
|                Team|Gold|
+--------------------+----+
| United States (USA)|  39|
|         China (CHN)|  38|
|         Japan (JPN)|  27|
| Great Britain (GBR)|  22|
|           ROC (ROC)|  20|
|     Australia (AUS)|  17|
|   Netherlands (NED)|  10|
|        France (FRA)|  10|
|       Germany (GER)|  10|
|         Italy (ITA)|  10|
|        Canada (CAN)|   7|
|        Brazil (BRA)|   7|
|   New Zealand (NZL)|   7|
|          Cuba (CUB)|   7|
|       Hungary (HUN)|   6|
|   South Korea (KOR)|   6|
|        Poland (POL)|   4|
|Czech Republic (CZE)|   4|
|         Kenya (KEN)|   4|
|        Norway (NOR)|   4|
+--------------------+----+
only showing top 20 rows

In [24]:
df_pyspark_olimpics['Team']

Column<'Team'>

In [25]:
df_pyspark_olimpics.dtypes

[('Rank', 'int'),
 ('Team', 'string'),
 ('Gold', 'int'),
 ('Silver', 'int'),
 ('Bronze', 'int'),
 ('Total', 'int')]

In [26]:
df_pyspark_olimpics.describe()

DataFrame[summary: string, Rank: string, Team: string, Gold: string, Silver: string, Bronze: string, Total: string]

In [27]:
df_pyspark_olimpics.describe().show()

+-------+------------------+---------------+------------------+------------------+-----------------+------------------+
|summary|              Rank|           Team|              Gold|            Silver|           Bronze|             Total|
+-------+------------------+---------------+------------------+------------------+-----------------+------------------+
|  count|                93|             93|                93|                93|               93|                93|
|   mean|46.333333333333336|           null|3.6559139784946235|3.6344086021505375| 4.32258064516129|11.612903225806452|
| stddev| 26.21911571707763|           null| 7.022471111671374| 6.626338988947587|6.210372267639421|19.091332120411018|
|    min|                 1|Argentina (ARG)|                 0|                 0|                0|                 1|
|    max|                86|Venezuela (VEN)|                39|                41|               33|               113|
+-------+------------------+---------------+------------------+------------------+-----------------+------------------+

In [28]:
### Adding Columns in data frame
df_pyspark_olimpics.withColumn('Quantity of sports',df_pyspark_olimpics['Total']*0.8).show()

+----+--------------------+----+------+------+-----+------------------+
|Rank|                Team|Gold|Silver|Bronze|Total|Quantity of sports|
+----+--------------------+----+------+------+-----+------------------+
|   1| United States (USA)|  39|    41|    33|  113|              90.4|
|   2|         China (CHN)|  38|    32|    18|   88|              70.4|
|   3|         Japan (JPN)|  27|    14|    17|   58|46.400000000000006|
|   4| Great Britain (GBR)|  22|    21|    22|   65|              52.0|
|   5|           ROC (ROC)|  20|    28|    23|   71|56.800000000000004|
|   6|     Australia (AUS)|  17|     7|    22|   46|36.800000000000004|
|   7|   Netherlands (NED)|  10|    12|    14|   36|              28.8|
|   8|        France (FRA)|  10|    12|    11|   33|26.400000000000002|
|   9|       Germany (GER)|  10|    11|    16|   37|              29.6|
|  10|         Italy (ITA)|  10|    10|    20|   40|              32.0|
|  11|        Canada (CAN)|   7|     6|    11|   24|19.200000000000003|
|  12|        Brazil (BRA)|   7|     6|     8|   21|              16.8|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|              16.0|
|  14|          Cuba (CUB)|   7|     3|     5|   15|              12.0|
|  15|       Hungary (HUN)|   6|     7|     7|   20|              16.0|
|  16|   South Korea (KOR)|   6|     4|    10|   20|              16.0|
|  17|        Poland (POL)|   4|     5|     5|   14|11.200000000000001|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|               8.8|
|  19|         Kenya (KEN)|   4|     4|     2|   10|               8.0|
|  20|        Norway (NOR)|   4|     2|     2|    8|               6.4|
+----+--------------------+----+------+------+-----+------------------+
only showing top 20 rows

In [29]:
df_pyspark_olimpics = df_pyspark_olimpics.withColumn('Quantity of sports',df_pyspark_olimpics['Total']*0.8)

In [30]:
df_pyspark_olimpics

DataFrame[Rank: int, Team: string, Gold: int, Silver: int, Bronze: int, Total: int, Quantity of sports: double]

In [31]:
df_pyspark_olimpics.show()

+----+--------------------+----+------+------+-----+------------------+
|Rank|                Team|Gold|Silver|Bronze|Total|Quantity of sports|
+----+--------------------+----+------+------+-----+------------------+
|   1| United States (USA)|  39|    41|    33|  113|              90.4|
|   2|         China (CHN)|  38|    32|    18|   88|              70.4|
|   3|         Japan (JPN)|  27|    14|    17|   58|46.400000000000006|
|   4| Great Britain (GBR)|  22|    21|    22|   65|              52.0|
|   5|           ROC (ROC)|  20|    28|    23|   71|56.800000000000004|
|   6|     Australia (AUS)|  17|     7|    22|   46|36.800000000000004|
|   7|   Netherlands (NED)|  10|    12|    14|   36|              28.8|
|   8|        France (FRA)|  10|    12|    11|   33|26.400000000000002|
|   9|       Germany (GER)|  10|    11|    16|   37|              29.6|
|  10|         Italy (ITA)|  10|    10|    20|   40|              32.0|
|  11|        Canada (CAN)|   7|     6|    11|   24|19.200000000000003|
|  12|        Brazil (BRA)|   7|     6|     8|   21|              16.8|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|              16.0|
|  14|          Cuba (CUB)|   7|     3|     5|   15|              12.0|
|  15|       Hungary (HUN)|   6|     7|     7|   20|              16.0|
|  16|   South Korea (KOR)|   6|     4|    10|   20|              16.0|
|  17|        Poland (POL)|   4|     5|     5|   14|11.200000000000001|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|               8.8|
|  19|         Kenya (KEN)|   4|     4|     2|   10|               8.0|
|  20|        Norway (NOR)|   4|     2|     2|    8|               6.4|
+----+--------------------+----+------+------+-----+------------------+
only showing top 20 rows

In [32]:
### Drop the columns
df_pyspark_olimpics.drop('Quantity of sports').show()

+----+--------------------+----+------+------+-----+
|Rank|                Team|Gold|Silver|Bronze|Total|
+----+--------------------+----+------+------+-----+
|   1| United States (USA)|  39|    41|    33|  113|
|   2|         China (CHN)|  38|    32|    18|   88|
|   3|         Japan (JPN)|  27|    14|    17|   58|
|   4| Great Britain (GBR)|  22|    21|    22|   65|
|   5|           ROC (ROC)|  20|    28|    23|   71|
|   6|     Australia (AUS)|  17|     7|    22|   46|
|   7|   Netherlands (NED)|  10|    12|    14|   36|
|   8|        France (FRA)|  10|    12|    11|   33|
|   9|       Germany (GER)|  10|    11|    16|   37|
|  10|         Italy (ITA)|  10|    10|    20|   40|
|  11|        Canada (CAN)|   7|     6|    11|   24|
|  12|        Brazil (BRA)|   7|     6|     8|   21|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|
|  14|          Cuba (CUB)|   7|     3|     5|   15|
|  15|       Hungary (HUN)|   6|     7|     7|   20|
|  16|   South Korea (KOR)|   6|     4|    10|   20|
|  17|        Poland (POL)|   4|     5|     5|   14|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|
|  19|         Kenya (KEN)|   4|     4|     2|   10|
|  20|        Norway (NOR)|   4|     2|     2|    8|
+----+--------------------+----+------+------+-----+
only showing top 20 rows

In [33]:
df_pyspark_olimpics = df_pyspark_olimpics.drop('Quantity of sports')

In [34]:
df_pyspark_olimpics.show()

+----+--------------------+----+------+------+-----+
|Rank|                Team|Gold|Silver|Bronze|Total|
+----+--------------------+----+------+------+-----+
|   1| United States (USA)|  39|    41|    33|  113|
|   2|         China (CHN)|  38|    32|    18|   88|
|   3|         Japan (JPN)|  27|    14|    17|   58|
|   4| Great Britain (GBR)|  22|    21|    22|   65|
|   5|           ROC (ROC)|  20|    28|    23|   71|
|   6|     Australia (AUS)|  17|     7|    22|   46|
|   7|   Netherlands (NED)|  10|    12|    14|   36|
|   8|        France (FRA)|  10|    12|    11|   33|
|   9|       Germany (GER)|  10|    11|    16|   37|
|  10|         Italy (ITA)|  10|    10|    20|   40|
|  11|        Canada (CAN)|   7|     6|    11|   24|
|  12|        Brazil (BRA)|   7|     6|     8|   21|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|
|  14|          Cuba (CUB)|   7|     3|     5|   15|
|  15|       Hungary (HUN)|   6|     7|     7|   20|
|  16|   South Korea (KOR)|   6|     4|    10|   20|
|  17|        Poland (POL)|   4|     5|     5|   14|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|
|  19|         Kenya (KEN)|   4|     4|     2|   10|
|  20|        Norway (NOR)|   4|     2|     2|    8|
+----+--------------------+----+------+------+-----+
only showing top 20 rows

In [36]:
### Rename the columns
df_pyspark_olimpics.withColumnRenamed('Team', 'Country').show()

+----+--------------------+----+------+------+-----+
|Rank|             Country|Gold|Silver|Bronze|Total|
+----+--------------------+----+------+------+-----+
|   1| United States (USA)|  39|    41|    33|  113|
|   2|         China (CHN)|  38|    32|    18|   88|
|   3|         Japan (JPN)|  27|    14|    17|   58|
|   4| Great Britain (GBR)|  22|    21|    22|   65|
|   5|           ROC (ROC)|  20|    28|    23|   71|
|   6|     Australia (AUS)|  17|     7|    22|   46|
|   7|   Netherlands (NED)|  10|    12|    14|   36|
|   8|        France (FRA)|  10|    12|    11|   33|
|   9|       Germany (GER)|  10|    11|    16|   37|
|  10|         Italy (ITA)|  10|    10|    20|   40|
|  11|        Canada (CAN)|   7|     6|    11|   24|
|  12|        Brazil (BRA)|   7|     6|     8|   21|
|  13|   New Zealand (NZL)|   7|     6|     7|   20|
|  14|          Cuba (CUB)|   7|     3|     5|   15|
|  15|       Hungary (HUN)|   6|     7|     7|   20|
|  16|   South Korea (KOR)|   6|     4|    10|   20|
|  17|        Poland (POL)|   4|     5|     5|   14|
|  18|Czech Republic (CZE)|   4|     4|     3|   11|
|  19|         Kenya (KEN)|   4|     4|     2|   10|
|  20|        Norway (NOR)|   4|     2|     2|    8|
+----+--------------------+----+------+------+-----+
only showing top 20 rows