# Importando as bibliotecas necess√°rias e os Data Frames

In [2]:
import polars as pl
import pandas as pd
import folium
from folium import plugins
import ipywidgets as widgets
from ipywidgets import interact
import altair as alt
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
from datetime import datetime, time
import numpy as np
from ydata_profiling import ProfileReport
from IPython.display import display
import plotly.graph_objs as go
import dash
from dash import dcc, html, Input, Output
from matplotlib.ticker import FuncFormatter
from folium.plugins import TimestampedGeoJson
from ipyleaflet import Map, Polyline, basemaps, WidgetControl

# Para carregar o dado direto no pandas - Loading the dataset directly to pandas
fare_attributes = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\fare_attributes.txt")
fare_rules = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\fare_rules.txt")
routes = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\routes.txt")
shapes = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\shapes.txt")
stop_times = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\stop_times.txt")
stops = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\stops.txt")
trips = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\trips.txt")
calendar_dates = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia-de-dados\SOROCABA-gtfs\calendar_dates.txt")

#Clear Bootstrap Logs
from IPython.display import clear_output 
#clear_output()

print("Import Complete!!")

Import Complete!!

<h1 style="background-color:#6a0dad; color:white">Explorando os Data Frames</h1>

## <span style="color:#6a0dad">Explorando o Data Frame 'fare_attributes'</span>

In [5]:
fare_attributes.head(10)

,fare_id,price,currency_type,payment_method,transfers,agency_id,transfer_duration
0,21390,4.90,BRL,0,0,1049,NaN
1,21395,5.25,BRL,0,0,1049,NaN
2,21398,6.00,BRL,0,0,1049,NaN
3,21412,5.40,BRL,0,0,1049,NaN
4,21394,5.50,BRL,0,0,1049,NaN
5,21399,6.15,BRL,0,0,1049,NaN
6,21407,5.35,BRL,0,0,1049,NaN
7,21426,5.15,BRL,0,0,1049,NaN

In [6]:
fare_attributes.describe()

,fare_id,price,payment_method,transfers,agency_id,transfer_duration
count,8.000000,8.000000,8.0,8.0,8.0,0.0
mean,21402.625000,5.462500,0.0,0.0,1049.0,NaN
std,11.831405,0.420671,0.0,0.0,0.0,NaN
min,21390.000000,4.900000,0.0,0.0,1049.0,NaN
25%,21394.750000,5.225000,0.0,0.0,1049.0,NaN
50%,21398.500000,5.375000,0.0,0.0,1049.0,NaN
75%,21408.250000,5.625000,0.0,0.0,1049.0,NaN
max,21426.000000,6.150000,0.0,0.0,1049.0,NaN

In [7]:
fare_attributes.describe()

,fare_id,price,payment_method,transfers,agency_id,transfer_duration
count,8.000000,8.000000,8.0,8.0,8.0,0.0
mean,21402.625000,5.462500,0.0,0.0,1049.0,NaN
std,11.831405,0.420671,0.0,0.0,0.0,NaN
min,21390.000000,4.900000,0.0,0.0,1049.0,NaN
25%,21394.750000,5.225000,0.0,0.0,1049.0,NaN
50%,21398.500000,5.375000,0.0,0.0,1049.0,NaN
75%,21408.250000,5.625000,0.0,0.0,1049.0,NaN
max,21426.000000,6.150000,0.0,0.0,1049.0,NaN

In [8]:
fare_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare_id            8 non-null      int64
 1   price              8 non-null      float64
 2   currency_type      8 non-null      object
 3   payment_method     8 non-null      int64
 4   transfers          8 non-null      int64
 5   agency_id          8 non-null      int64
 6   transfer_duration  0 non-null      float64
dtypes: float64(2), int64(4), object(1)
memory usage: 576.0+ bytes

In [9]:
fare_attributes = fare_attributes.drop('transfer_duration', axis=1)

In [10]:
fare_attributes

   fare_id  price currency_type  payment_method  transfers  agency_id
0    21390   4.90           BRL               0          0       1049
1    21395   5.25           BRL               0          0       1049
2    21398   6.00           BRL               0          0       1049
3    21412   5.40           BRL               0          0       1049
4    21394   5.50           BRL               0          0       1049
5    21399   6.15           BRL               0          0       1049
6    21407   5.35           BRL               0          0       1049
7    21426   5.15           BRL               0          0       1049

In [11]:
valores_ausentes_fare_attributes = fare_attributes.isna()
contagem = valores_ausentes_fare_attributes.sum()
print(contagem)

fare_id           0
price             0
currency_type     0
payment_method    0
transfers         0
agency_id         0
dtype: int64

### <div style="background-color:#226C35; color:#FFFFFF; padding:10px">Conclus√µes:</div>
- Esse √© um data frame meramente informativo apenas com identifica√ß√µes de tarifas e seus respectivos valores, vamos ter que cruzar esses dados com outros data frames para termos uma informa√ß√£o relevante
- Mais na frente vamos cruzar esse Data Frame com o pr√≥ximo, fare_rules. Primeiro vamos fazer a explora√ß√£o dos seus dados

## <span style="color:#6a0dad">Explorando o Data Frame 'fare_rules'</span>

In [12]:
print(f'O Data Frame tem {fare_rules.shape[0]} linhas e {fare_rules.shape[1]} colunas.')

O Data Frame tem 13 linhas e 2 colunas.

In [13]:
fare_rules.head(13)

    fare_id                              route_id
0     21390  c73df358-1a6d-4ff2-adf4-b1f3a1477344
1     21395  72b3e29b-10df-4bce-854a-582d115a99a4
2     21398  134ccc43-722d-433d-9e56-7bd03d985403
3     21390  1cf3a839-8147-4730-b0b6-5c52c4030a7b
4     21412  0e6d74dd-a14e-40b3-ac59-720498612889
5     21395  81399e03-dcaa-4255-858d-d3e81e69157d
6     21412  5396e018-5cca-4291-8622-c50f2ac15b41
7     21390  142cbd21-198a-4b79-8bb6-755ef1eee5e7
8     21394  aa595240-5ef2-4e2d-a2f7-300976b1dcbf
9     21395  90588e02-a842-4427-b7b1-6321737e7972
10    21399  792b9359-d1d8-437b-a5ab-b6fb1b5864e6
11    21407  5a75f026-dc66-42a7-97d0-dc9d496fe642
12    21426  aec90850-be02-49f0-ab8b-be9e1b3cef20

### <div style="background-color:#226C35; color:#FFFFFF; padding:10px">Conclus√µes:</div>
- Esse √© outro frame de refer√™ncia o arquivo fare_rules cont√©m informa√ß√µes sobre as regras de tarifas que se aplicam a viagens em uma rede de transporte p√∫blico. Cada linha do arquivo corresponde a uma regra de tarifa que se aplica a uma ou mais viagens em uma ou mais rotas.
- Vamos combin√°-lo com o arquivo fare_attributes para vermos como as tarifas s√£o distribu√≠das por rotas.
- De antem√£o podemos verificar que o data frame pode n√£o estar completo pois h√° muito mais rotas dispon√≠veis no arquivo routes.txt que nesse, h√° uma diferen√ßa de 110 linhas de √¥nibus (123 linhas no data frame routes e 13 linhas no data frame fare_rules)

## <span style="color:#6a0dad">Explorando o Data Frame 'routes'</span>

In [15]:
print(f'O Data Frame tem {routes.shape[0]} linhas e {routes.shape[1]} colunas.')

O Data Frame tem 123 linhas e 8 colunas.

In [16]:
routes.describe()

       agency_id  route_desc  route_type  route_color  route_text_color
count      123.0         0.0       123.0          0.0               0.0
mean      1049.0         NaN         3.0          NaN               NaN
std          0.0         NaN         0.0          NaN               NaN
min       1049.0         NaN         3.0          NaN               NaN
25%       1049.0         NaN         3.0          NaN               NaN
50%       1049.0         NaN         3.0          NaN               NaN
75%       1049.0         NaN         3.0          NaN               NaN
max       1049.0         NaN         3.0          NaN               NaN

In [17]:
routes.head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color
0,9cf1742a-6bc8-4a32-9856-83b9a77b6554,1049,E130,S√£o Camilo - Terminal Santo Ant√¥nio,NaN,3,NaN,NaN
1,7d9af57b-c92e-4f02-8f66-ce6fa6986219,1049,E120,Paineiras - Terminal Santo Ant√¥nio,NaN,3,NaN,NaN
2,e2a31ffe-1f93-4c87-a1fc-eb26c0838ac3,1049,A130,Esta√ß√£o Itavuvu - S√£o Camilo,NaN,3,NaN,NaN
3,7b3ccb02-150e-4083-b8cd-be37e5a2252c,1049,E160,S√£o Bento - Terminal Santo Ant√¥nio,NaN,3,NaN,NaN
4,af542db6-a91d-4240-8c89-fa8141272e7a,1049,A110,Terminal Vit√≥ria R√©gia - Vit√≥ria R√©gia Ii E Iii,NaN,3,NaN,NaN

In [18]:
# Fazendo o drop de colunas n√£o utilizadas

routes = routes.drop(['route_desc','route_color','route_text_color'], axis=1)

In [19]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   route_id          123 non-null    object
 1   agency_id         123 non-null    int64
 2   route_short_name  123 non-null    object
 3   route_long_name   123 non-null    object
 4   route_type        123 non-null    int64
dtypes: int64(2), object(3)
memory usage: 4.9+ KB

In [20]:
valores_ausentes_routes = routes.isna()
contagem = valores_ausentes_routes.sum()
print(contagem)

route_id            0
agency_id           0
route_short_name    0
route_long_name     0
route_type          0
dtype: int64

### Gerando o relat√≥rio explorat√≥rio do 'routes' em HTML

In [21]:
relatorio_routes = ProfileReport(routes, title='Relatorio routes')
relatorio_routes.to_file('routes.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [22]:
relatorio_routes = ProfileReport(routes, title='Relatorio routes')
relatorio_routes.to_file('routes.html', silent=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
relatorio_routes = ProfileReport(routes, title='Relatorio routes')
relatorio_routes.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]