In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree

Carregando a base de dados bank-numeric

In [15]:
bank = pd.read_csv(r"C:\Users\marcf\OneDrive\Documentos\Ciencia de dados\Árvores de decisão e Florestas Aleatórias\arvore-decisao-materiais-apoio\datasets\bank-numeric.csv")
bank.head(10)

,age,balance,duration,campaign,previous,default_cat,housing_cat,loan_cat,recent_pdays,deposit_cat,...,marital_divorced,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,poutcome_failure,poutcome_success,poutcome_unknown
0,59,2343,1042,1,0,0,1,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
1,56,45,1467,1,0,0,0,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
2,41,1270,1389,1,0,0,1,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
3,55,2476,579,1,0,0,1,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
4,54,184,673,2,0,0,0,0,0.0001,1,...,0,1,0,0,0,1,0,0,0,1
5,42,0,562,2,0,0,1,1,0.0001,1,...,0,0,1,0,0,1,0,0,0,1
6,56,830,1201,1,0,0,1,1,0.0001,1,...,0,1,0,0,0,1,0,0,0,1
7,60,545,1030,1,0,0,1,0,0.0001,1,...,1,0,0,0,1,0,0,0,0,1
8,37,1,608,1,0,0,1,0,0.0001,1,...,0,1,0,0,1,0,0,0,0,1
9,28,5090,1297,3,0,0,1,0,0.0001,1,...,0,0,1,0,1,0,0,0,0,1

In [16]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  11162 non-null  int64
 1   balance              11162 non-null  int64
 2   duration             11162 non-null  int64
 3   campaign             11162 non-null  int64
 4   previous             11162 non-null  int64
 5   default_cat          11162 non-null  int64
 6   housing_cat          11162 non-null  int64
 7   loan_cat             11162 non-null  int64
 8   recent_pdays         11162 non-null  float64
 9   deposit_cat          11162 non-null  int64
 10  job_blue-collar      11162 non-null  int64
 11  job_entrepreneur     11162 non-null  int64
 12  job_other            11162 non-null  int64
 13  job_pink-collar      11162 non-null  int64
 14  job_self-employed    11162 non-null  int64
 15  job_technician       11162 non-null  int64
 16  job_white-collar     11162 non-null  int64
 17  marital_divorced     11162 non-null  int64
 18  marital_married      11162 non-null  int64
 19  marital_single       11162 non-null  int64
 20  education_primary    11162 non-null  int64
 21  education_secondary  11162 non-null  int64
 22  education_tertiary   11162 non-null  int64
 23  education_unknown    11162 non-null  int64
 24  poutcome_failure     11162 non-null  int64
 25  poutcome_success     11162 non-null  int64
 26  poutcome_unknown     11162 non-null  int64
dtypes: float64(1), int64(26)
memory usage: 2.3 MB

In [17]:
bank.isnull

<bound method DataFrame.isnull of        age  balance  duration  campaign  previous  default_cat  housing_cat  \
0       59     2343      1042         1         0            0            1
1       56       45      1467         1         0            0            0
2       41     1270      1389         1         0            0            1
3       55     2476       579         1         0            0            1
4       54      184       673         2         0            0            0
...    ...      ...       ...       ...       ...          ...          ...
11157   33        1       257         1         0            0            1
11158   39      733        83         4         0            0            0
11159   32       29       156         2         0            0            0
11160   43        0         9         2         5            0            0
11161   34        0       628         1         0            0            0

       loan_cat  recent_pdays  deposit_cat  ...  marital_divorced  \
0             0      0.000100            1  ...                 0
1             0      0.000100            1  ...                 0
2             0      0.000100            1  ...                 0
3             0      0.000100            1  ...                 0
4             0      0.000100            1  ...                 0
...         ...           ...          ...  ...               ...
11157         0      0.000100            0  ...                 0
11158         0      0.000100            0  ...                 0
11159         0      0.000100            0  ...                 0
11160         1      0.005814            0  ...                 0
11161         0      0.000100            0  ...                 0

       marital_married  marital_single  education_primary  \
0                    1               0                  0
1                    1               0                  0
2                    1               0                  0
3                    1               0                  0
4                    1               0                  0
...                ...             ...                ...
11157                0               1                  1
11158                1               0                  0
11159                0               1                  0
11160                1               0                  0
11161                1               0                  0

       education_secondary  education_tertiary  education_unknown  \
0                        1                   0                  0
1                        1                   0                  0
2                        1                   0                  0
3                        1                   0                  0
4                        0                   1                  0
...                    ...                 ...                ...
11157                    0                   0                  0
11158                    1                   0                  0
11159                    1                   0                  0
11160                    1                   0                  0
11161                    1                   0                  0

       poutcome_failure  poutcome_success  poutcome_unknown
0                     0                 0                 1
1                     0                 0                 1
2                     0                 0                 1
3                     0                 0                 1
4                     0                 0                 1
...                 ...               ...               ...
11157                 0                 0                 1
11158                 0                 0                 1
11159                 0                 0                 1
11160                 1                 0                 0
11161                 0                 0                 1

[11162 rows x 27 columns]>

In [19]:
bank.describe

<bound method NDFrame.describe of        age  balance  duration  campaign  previous  default_cat  housing_cat  \
0       59     2343      1042         1         0            0            1
1       56       45      1467         1         0            0            0
2       41     1270      1389         1         0            0            1
3       55     2476       579         1         0            0            1
4       54      184       673         2         0            0            0
...    ...      ...       ...       ...       ...          ...          ...
11157   33        1       257         1         0            0            1
11158   39      733        83         4         0            0            0
11159   32       29       156         2         0            0            0
11160   43        0         9         2         5            0            0
11161   34        0       628         1         0            0            0

       loan_cat  recent_pdays  deposit_cat  ...  marital_divorced  \
0             0      0.000100            1  ...                 0
1             0      0.000100            1  ...                 0
2             0      0.000100            1  ...                 0
3             0      0.000100            1  ...                 0
4             0      0.000100            1  ...                 0
...         ...           ...          ...  ...               ...
11157         0      0.000100            0  ...                 0
11158         0      0.000100            0  ...                 0
11159         0      0.000100            0  ...                 0
11160         1      0.005814            0  ...                 0
11161         0      0.000100            0  ...                 0

       marital_married  marital_single  education_primary  \
0                    1               0                  0
1                    1               0                  0
2                    1               0                  0
3                    1               0                  0
4                    1               0                  0
...                ...             ...                ...
11157                0               1                  1
11158                1               0                  0
11159                0               1                  0
11160                1               0                  0
11161                1               0                  0

       education_secondary  education_tertiary  education_unknown  \
0                        1                   0                  0
1                        1                   0                  0
2                        1                   0                  0
3                        1                   0                  0
4                        0                   1                  0
...                    ...                 ...                ...
11157                    0                   0                  0
11158                    1                   0                  0
11159                    1                   0                  0
11160                    1                   0                  0
11161                    1                   0                  0

       poutcome_failure  poutcome_success  poutcome_unknown
0                     0                 0                 1
1                     0                 0                 1
2                     0                 0                 1
3                     0                 0                 1
4                     0                 0                 1
...                 ...               ...               ...
11157                 0                 0                 1
11158                 0                 0                 1
11159                 0                 0                 1
11160                 1                 0                 0
11161                 0                 0                 1

[11162 rows x 27 columns]>

In [20]:
bank.axes

[RangeIndex(start=0, stop=11162, step=1),
 Index(['age', 'balance', 'duration', 'campaign', 'previous', 'default_cat',
        'housing_cat', 'loan_cat', 'recent_pdays', 'deposit_cat',
        'job_blue-collar', 'job_entrepreneur', 'job_other', 'job_pink-collar',
        'job_self-employed', 'job_technician', 'job_white-collar',
        'marital_divorced', 'marital_married', 'marital_single',
        'education_primary', 'education_secondary', 'education_tertiary',
        'education_unknown', 'poutcome_failure', 'poutcome_success',
        'poutcome_unknown'],
       dtype='object')]

In [21]:
bank.isna

<bound method DataFrame.isna of        age  balance  duration  campaign  previous  default_cat  housing_cat  \
0       59     2343      1042         1         0            0            1
1       56       45      1467         1         0            0            0
2       41     1270      1389         1         0            0            1
3       55     2476       579         1         0            0            1
4       54      184       673         2         0            0            0
...    ...      ...       ...       ...       ...          ...          ...
11157   33        1       257         1         0            0            1
11158   39      733        83         4         0            0            0
11159   32       29       156         2         0            0            0
11160   43        0         9         2         5            0            0
11161   34        0       628         1         0            0            0

       loan_cat  recent_pdays  deposit_cat  ...  marital_divorced  \
0             0      0.000100            1  ...                 0
1             0      0.000100            1  ...                 0
2             0      0.000100            1  ...                 0
3             0      0.000100            1  ...                 0
4             0      0.000100            1  ...                 0
...         ...           ...          ...  ...               ...
11157         0      0.000100            0  ...                 0
11158         0      0.000100            0  ...                 0
11159         0      0.000100            0  ...                 0
11160         1      0.005814            0  ...                 0
11161         0      0.000100            0  ...                 0

       marital_married  marital_single  education_primary  \
0                    1               0                  0
1                    1               0                  0
2                    1               0                  0
3                    1               0                  0
4                    1               0                  0
...                ...             ...                ...
11157                0               1                  1
11158                1               0                  0
11159                0               1                  0
11160                1               0                  0
11161                1               0                  0

       education_secondary  education_tertiary  education_unknown  \
0                        1                   0                  0
1                        1                   0                  0
2                        1                   0                  0
3                        1                   0                  0
4                        0                   1                  0
...                    ...                 ...                ...
11157                    0                   0                  0
11158                    1                   0                  0
11159                    1                   0                  0
11160                    1                   0                  0
11161                    1                   0                  0

       poutcome_failure  poutcome_success  poutcome_unknown
0                     0                 0                 1
1                     0                 0                 1
2                     0                 0                 1
3                     0                 0                 1
4                     0                 0                 1
...                 ...               ...               ...
11157                 0                 0                 1
11158                 0                 0                 1
11159                 0                 0                 1
11160                 1                 0                 0
11161                 0                 0                 1

[11162 rows x 27 columns]>

In [22]:
bank.shape

(11162, 27)

Separando as features das classes

In [9]:
bank_data = bank.drop('deposit_cat',1)
bank_target = bank.deposit_cat

Dividindo os dados em treino e teste

In [10]:
x_train, x_test, y_train, y_test = train_test_split(bank_data,bank_target, test_size=0.3)

Função para treinar o modelo de árvore de decisão com o parâmetro max_depth

In [13]:
def compara_modelos(maxdepth):
    if maxdepth ==0:
        dt = tree.DecisionTreeClassifier(random_state=1)
    else:
        dt = tree.DecisionTreeClassifier(random_state=1, max_depth=maxdepth)
    dt.fit(x_train, y_train)
    train_score = dt.score(x_train, y_train)
    test_score = dt.score(x_test, y_test)
    return train_score,test_score

compara_modelos(2)

(0.7367208498656086, 0.7276799044490893)

In [14]:
print('{:10} {:20} {:20}'.format('depth', 'Training score',"Testing score"))
print('{:10} {:20} {:20}'.format('-----', '--------------',"-------------"))
print('{:1}         {} '.format(2,str(compara_modelos(2))))
print('{:1}         {} '.format(3,str(compara_modelos(3))))
print('{:1}         {} '.format(4,str(compara_modelos(4))))
print('{:1}         {} '.format(10,str(compara_modelos(10))))
print('{:1}         {} '.format(15,str(compara_modelos(15))))
print('{:1}         {} '.format('Full',str(compara_modelos(0))))

depth      Training score       Testing score
-----      --------------       -------------
2         (0.7367208498656086, 0.7276799044490893)
3         (0.7579674900806348, 0.7688862346969244)
4         (0.7862536797644951, 0.7847118542848611)
10         (0.8558812236016895, 0.7978501045088086)
15         (0.9399718418021247, 0.7590325470289638)
Full         (1.0, 0.7261869214690952)

**Verificando as features mais importantes para o modelo de árvore de decisão treinado**

Treinando o modelo utilizando o valor de max_depth igual a 4

In [23]:
dt = tree.DecisionTreeClassifier(max_depth=4)
dt.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=4)

Listando as features e sua importância para o modelo

In [43]:
features = dt.feature_names_in_
fi = dt.feature_importances_

l = len(bank.columns)
for i in range(0,len(bank.columns)-1):
    print('{:.<20} {:3}'.format(features[i],fi[i]))

age................. 0.0
balance............. 0.002013822356990397
duration............ 0.669544268813508
campaign............ 0.0
previous............ 0.0
default_cat......... 0.0
housing_cat......... 0.11372602008683601
loan_cat............ 0.0
recent_pdays........ 0.0
job_blue-collar..... 0.0
job_entrepreneur.... 0.0
job_other........... 0.0
job_pink-collar..... 0.0
job_self-employed... 0.0
job_technician...... 0.0
job_white-collar.... 0.0
marital_divorced.... 0.0
marital_married..... 0.0
marital_single...... 0.0
education_primary... 0.0
education_secondary. 0.0
education_tertiary.. 0.0
education_unknown... 0.0
poutcome_failure.... 0.0
poutcome_success.... 0.2147158887426654
poutcome_unknown.... 0.0