# Python para Análise de Dados - Pandas  02

<p> Iremos trabalhar com base de imóveis que obtive no site Kaggle. 

Você pode fazer Download diretamente no nosso **GitHub**, [aqui](https://github.com/minerandodados/mdrepo/blob/master/kc_house_data.csv)

In [1]:
# Importe a biblioteca pandas
import pandas as pd

In [ ]:
# Lendo a base de dados
arquivo = '/home/rodrigo/curso/Python Para Data Análise/kc_house_data.csv'
dataset = pd.read_csv(arquivo, sep=',')

In [ ]:
# Plota um Histograma com a coluna Price com 30 bins na cor vermelho
%matplotlib notebook
dataset['price'].hist(bins=80, color='red')

In [ ]:
# Plota histogramas das colunas bedrooms e bathrooms lado a lado na cor verde.
%matplotlib notebook
dataset[['bedrooms','bathrooms']].hist(bins=30,alpha=0.5,color='Green')

** Estatistica Descritiva**

In [ ]:
# Imprime o valor médio da coluna bedrooms
dataset['bedrooms'].mean()

In [ ]:
# Imprime o valor máximo da coluna bedrooms
dataset['bedrooms'].max()

In [ ]:
# Imprime o valor mínimo da coluna bedrooms
dataset['bedrooms'].min()

In [ ]:
# Imprime o desvio padrão da coluna bedrooms
dataset['bedrooms'].std()

In [ ]:
# Imprime o valor máximo da coluna bedrooms
dataset['bedrooms'].skew()

In [ ]:
# Esse método retorna o valor de simetria de cada coluna do dataset.
# Um valor zero indica uma distribuição simétrica
# Um valor maior que zero ou menor indica uma distribuição assimétrica.
# Valores acima de zero podemos dizer que existe uma assimetria positiva 
# Valores abaixo de zero uma assimetria negativa.
# Isso quer dizer que valores muito acima de zero indicam que existem mais valores acima da média
# valores abaixo de zero significa que contém mais valores abaixo da média.
dataset.skew()

# **Extraindo Insights**

* Vamos agora trabalhar com um tipo de gráfico muito interessante.

* Os gráficos do tipo Boxplot são excelentes ferramentas de análise de dados, principalmente para identificar _**outliers**_.

In [ ]:
import matplotlib

In [ ]:
# Plota gráfico do tipo Boxplot da coluna bedrooms
# Esse gráfico é muito rico e é possível visualizar Outliers
%matplotlib notebook
matplotlib.style.use('ggplot')

dataset.boxplot(column='bedrooms')

In [ ]:
# Visualizando os estilos de layout disponível
matplotlib.style.available

In [ ]:
# Plota boxplot da coluna 'price' por número de quartos
%matplotlib notebook
dataset.boxplot(column='price', by='bedrooms')

**Correlação **

In [ ]:
# Imprime a correlação de todas as colunas do dataframe (person)
dataset.corr()

In [ ]:
dataset.corr('spearman')

In [ ]:
# Imprime a correlação de spearman (esta leva em consideração a correção positiva e negativa)
dataset.corr('spearman')

In [ ]:
# Imprime a correção de algumas colunas
dataset[['bedrooms','bathrooms','sqft_living','floors','waterfront','grade','price']].corr()

In [ ]:
# Plotando a correlação de algumas colunas
%matplotlib notebook
dataset[['sqft_living','waterfront','grade','price']].corr().plot()

# **Tabelas Pivot**

In [ ]:
# Tabelas Pivot são úteis para fazer agrupamento nos dados.
# Conta a quantidade de imóveis agrupados pelas colunas waterfront e floors.
# O parametro index informo as colunas que serão usadas para agregação.
# o parâmetro aggfunc é usado para definir a função de agregação, que poderia ser uma média por exemplo.
# O parâmetro margins=True calcula a quantidade total no final da tabela.

# Muito interessante a performance dessa operação.
dataset.pivot_table('id',index=["waterfront","floors"], aggfunc='count',margins=True)

**Crosstab**

In [ ]:
# Crosstab ou tabulação Cruzada
# Essa funcionalidade cruza valores das variáveis
# Nesse exemplo podemos ver qual a distribuição dos imóvies por número de quartos com relação a sua condição
# Podemos ver que imoveis com 3 quartos estão mais na condição 5

pd.crosstab(dataset['bedrooms'],dataset['condition'])

In [ ]:
# Plota a tabulação Cruzada
# Usamos o método plot com um gráfico de barras

table = pd.crosstab(dataset['bedrooms'],dataset['condition'])
table.plot(kind='bar',width=1.0, color=['red','yellow','orange','blue','green'], title='Condition by Bedrooms' ,grid=False)

# ** Trabalhando com Excel **

* Com o Pandas podemos trabalhar com o Excel.

* Isso é muito bom, pois, sabemos que temos muita informação nos dias de hoje em planilhas do excel.

* Diante disso você pode usar o pandas para manipular planilhas do excel e até mesmo gerar novas planilhas a partir de outros dados.

In [2]:
# Lendo uma planilha do excel no Pandas.
dataframe_excel = pd.read_excel('Controle-de-Atividades-2.0.xlsx', sheetname=0,header=1)

C:\Users\rodrigo.ferreira\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [3]:
dataframe_excel.head()

,N°,Atividade,Responsável,Estado Atual,Início,Previsão,Término,Duração Prev.,Duração Real,SITUAÇÃO,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Elaborar relatório de vendas,Antonio,ENCERRADA,2015-03-01 12:20:00,2015-03-01 18:30:00,2015-03-05 07:30:00,06:10:00,1900-01-03 19:10:00,ATRASADA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Encerrar Balanço,Antonio,INICIADA,2015-03-01 07:00:00,2015-03-08 09:00:00,2015-03-08 09:00:00,1900-01-07 02:00:00,1900-01-07 02:00:00,EM DIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Preparar novo Plano de Contas,Pedro,ADIADA,2015-03-01 00:00:00,2015-03-20 00:00:00,NaT,1900-01-19 00:00:00,NaT,ADIANTADA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INICIADA
4,4.0,Preparar reunião de resultados,Márcia,ENCERRADA,2015-03-02 00:00:00,2015-03-10 00:00:00,NaT,1900-01-08 00:00:00,NaT,ADIANTADA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIADA

In [4]:
# Lendo o arquivo indexando pela coluna 'Estado Atual'

file = 'Controle-de-Atividades-2.0.xlsx'
dataframe_excel = pd.read_excel(file, sheetname=0, header=1, index_col=3)

C:\Users\rodrigo.ferreira\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [5]:
dataframe_excel.head(10)

,N°,Atividade,Responsável,Início,Previsão,Término,Duração Prev.,Duração Real,SITUAÇÃO,Unnamed: 10,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
Estado Atual,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENCERRADA,1.0,Elaborar relatório de vendas,Antonio,2015-03-01 12:20:00,2015-03-01 18:30:00,2015-03-05 07:30:00,06:10:00,1900-01-03 19:10:00,ATRASADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INICIADA,2.0,Encerrar Balanço,Antonio,2015-03-01 07:00:00,2015-03-08 09:00:00,2015-03-08 09:00:00,1900-01-07 02:00:00,1900-01-07 02:00:00,EM DIA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADIADA,3.0,Preparar novo Plano de Contas,Pedro,2015-03-01 00:00:00,2015-03-20 00:00:00,NaT,1900-01-19 00:00:00,NaT,ADIANTADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INICIADA
ENCERRADA,4.0,Preparar reunião de resultados,Márcia,2015-03-02 00:00:00,2015-03-10 00:00:00,NaT,1900-01-08 00:00:00,NaT,ADIANTADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUSPENSA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENCERRADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIANTADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EM DIA

In [ ]:
# Ordenando o dataframe pela coluna de índice. 
dataframe_excel.sort_index()

# ** Gerando Planilhas a partir de Dataframes **

In [ ]:
# Vou usar o dataset de imoveis para gerar uma planilha.
dataset.head()

In [ ]:
# Gerando uma planilha com algumas colunas
colunas = ['id','price','bedrooms','bathrooms','sqft_living','floors','waterfront']
dataset[colunas].head()

In [ ]:
# Escrevendo no disco a planilha sem o valor do índice.
dataset[colunas].to_excel('planilha_pandas.xls',index=False)